@mixin reset-list() {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin inline-list() {
	@include reset-list;
	li {
		display: inline-block;
	}
}

@mixin reset-input($hide-features: false) {
	-webkit-appearance: none;
	border: 0;
	background-color: transparent;

	&:focus,
	&:active {
		outline: 0;
	}

	@if($hide-features) {
		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button { 
		  -webkit-appearance: none; 
		  margin: 0; 
		}
	}

}
