<header id="project-header" class="app-bar">
	<ul class="app-bar__items">
		<li>
			<h1 class="app-bar__title toggle-edit">
				<input />
				<span>My awesome beat</span>
				<a href="#" class="app-bar__title--action fa fa-pencil toggle"></a>
			</h1>
		</li>
		<li>
			<div class="input-bpm">
				<input type="number" value="128" id="bpm" />
				<span>BPM</span>
			</div>
		</li>
		<li class="app-bar__items--right">
			<ul class="play-controls">
				<li class="play-controls__control play">
					<a href="#" class="fa fa-play-circle-o"></a>
				</li>
				<li class="play-controls__control stop">
					<a href="#" class="fa fa-stop-circle-o"></a>
				</li>
			</ul>
		</li>
	</ul>
</header>