<div class="modal modal__overlay" data-modal="bs-config">

	<div class="modal__dialog">
		<div class="modal__header">
			<h4 class="modal__title">BeatSequencer config and help topics <a href="#" class="close" data-close>&times;</a></h4>
		</div>

		<div class="modal__content tabs layout">
			<ul class="tabs__nav">
				<li class="active"><a href="tab:config"><i class="fa fa-cog"></i> Config</a></li>
				<li><a href="tab:help"><i class="fa fa-lightbulb-o"></i> Help</a></li>
			</ul>
			<div class="tabs__tab" data-tab-name="config">
				<div class="columns">
					<article class="column">
						<h1>Editor</h1>
						<hr />
						<p class="lead">Construct beats the way you like it, Pop in your settings right here to make it a breeze!</p>
					</article>
					<article class="column">
						<h1>Sound</h1>
						<hr />
						<p class="lead">Additional sound settings to make it sound snappy!</p>
					</article>
					<article class="column">
						<h1>More</h1>
						<hr />
						<p class="lead">Use Facebook to log in! Allow us to authenticate you and start saving your work. <a href="#" class="more">Why should I do this?</a></p>
						<button class="button button__facebook"><i class="fa fa-facebook"></i> Connect to facebook</button>
					</article>
				</div>
			</div>
			<div class="tabs__tab" data-tab-name="help">
				Help
			</div>
		</div>

	</div>

</div>