<main id="project">
	
	<% include partials/header %>

	<section id="project-window">
		<span class="project-tracks"></span>

		<div class="track track__new" href="#">
			<div class="track__new--inner">
				<a href="#"><i class="fa fa-plus-circle"></i></a>
			</div>
		</div>

	</section>

</main>