<!doctype html>
<html>
	<head>
		<title>BeatSequencer</title>
		<link rel="stylesheet" type="text/css" href="css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
		<link rel="stylesheet" type="text/css" href="css/app.css" />
	</head>
	<body>
		<%- body %>
		<% include partials/bower-scripts %>
		<script type="text/javascript" src="js/templates-manager.js"></script>
		<script type="text/javascript" src="js/store.js"></script>
		<script type="text/javascript" src="js/tracks-manager.js"></script>
		<script type="text/javascript" src="js/sounds-manager.js"></script>
		<script type="text/javascript" src="js/enhancements.js"></script>
		<script type="text/javascript" src="js/metronome.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>
</html>